body {
    background-color: black;
}
.navbar {
    position: absolute;
    background: transparent !important;
    width: 100%;
    z-index: 10;
}

.contenedor-pregunta {
    background-color: black;
}

.pregunta {
    color: white;
}

.contenedor-icono-arriba {
    background-color: #64D6FF;
}

.contenedor-icono-abajo {
    background-color: #64D6FF;
}

.texto-preguntas {
    color: white;
    text-align: justify;
}

.iconos {
    color: white;
}

.titulo-destacados {
    color: white;
}