body {
    background-color: black;
}
.navbar {
    position: absolute;
    background: transparent !important;
    width: 100%;
    z-index: 10;
}

.contenedor-pregunta {
    background-color: black;
}

.pregunta {
    color: white;
}

.contenedor-icono-arriba {
    background-color: #0dcaf0;
}

.contenedor-icono-abajo {
    background-color: #0dcaf0;
}

.texto-preguntas {
    color: white;
    text-align: justify;
}

.iconos {
    color: white;
}

.titulo-destacados {
    color: white;
}

.card-body {
    background-color: #0dcaf0;
}

.card-text,.card-title {
    color: white;
}

.form-label {
    color: white;
}

.btn-info {
    color: white;
}

.contenedor-footer {
    background-color: #0dcaf0;
}

.viajes-chile-footer {
    color: white;
}
