html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.bg-dark {
    background-color: black !important;
}

.contenedor-pregunta {
    background-color: black;
}

.pregunta {
    color: white;
    font-size: 1.875rem;
    font-weight: 700;
}

.contenedor-icono-arriba {
    background-color: #0dcaf0;
}

.contenedor-icono-abajo {
    background-color: #0dcaf0;
}

.texto-preguntas {
    color: white;
    text-align: justify;
    
}

.iconos {
    color: white;
}

.titulo-destacados {
    color: white;
    font-size: 1.875rem;
    font-weight: 700;
}

.card-body {
    background-color: #0dcaf0;
}

.card-text,.card-title {
    color: white;
}

.card-text {
    font-weight: 300;
}

.card-title{
    font-weight: 400;
}
.form-label {
    color: white;
    font-weight: 700;
}

.btn-info {
    color: white;
    font-weight: 700;
}

.contenedor-footer {
    background-color: #0dcaf0;
}

.viajes-chile-footer {
    color: white;
}
